<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="{{pathFor 'homePage'}}">gDataMator (gDM)</a>
      <ul class="nav">

        <li class="{{activeRouteClass 'newEntries'}}">
          <a href="{{pathFor 'newEntries'}}">Entries</a>
        </li>

        {{#if currentUser}}
          <li class="{{activeRouteClass 'entrySubmit'}}">
            <a href="{{pathFor 'entrySubmit'}}">Submit Entry</a>
          </li>
        {{/if}}
        
        <li class="{{activeRouteClass 'newQuestions'}}">
          <a href="{{pathFor 'newQuestions'}}">Questions</a>
        </li>

        {{#if currentUser}}
          <li class="{{activeRouteClass 'questionSubmit'}}">
            <a href="{{pathFor 'questionSubmit'}}">Submit Question</a>
          </li>
        {{/if}}

        <li class="{{activeRouteClass 'aboutPage'}}">
          <a href="{{pathFor 'aboutPage'}}">About</a>
        </li>

        <li class="dropdown">
          {{> notifications}}
        </li>
        
      </ul>
      <ul class="nav pull-right">
        <li>{{loginButtons}}</li>
      </ul>
    </div>
  </header>
</template>
