<template name="question_fields">
    <div class="control-group">
        <label class="control-label" for="questionNumber">Question Number</label>
        <div class="controls">
            <input name="questionNumber" type="text" value="" placeholder="Unique number (no characters)"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="questionTitle">Question Title</label>
        <div class="controls">
            <input name="questionTitle" type="text" value="" placeholder="Unique title for question"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="question">Question</label>
        <div class="controls">
            <textarea name="question" type="text" value="" placeholder="Question"/>
        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="questionType">Question Type</label>
        <div class="controls">
            {{> type_drop}}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="questionDrop">Dropdown options</label>
        <div class="controls">
            <textarea name="questionDrop" type="text" value="" placeholder="Enter comma seperated dropdown values"/>
        </div>
    </div>

</template>

