<template name="questionItem">
  <div class="question">
    <div class="question-content">
      <h3><a href="{{questionPagePath this}}">{{questionName}}</a><span>{{disease}}</span></h3>
      <p>
        Zoonotic Type: {{zoonoticType}},
        Submitted by {{author}},
        {{pluralize votes "Vote"}},
        <a href="{{questionPagePath this}}">{{pluralize commentsCount "comment"}}</a>
      </p>
    </div>
    
    <a href="{{questionPagePath this}}" class="discuss btn">Review</a>
    {{#if ownQuestion}}<a href="{{questionEditPath this}}" class="discuss btn">Edit</a>{{/if}}
  </div>
</template>