<template name="entryqItem">

    <div class="control-group">
        <label class="control-label" for="{{questionNumber}}">
			<p>({{questionNumber}}) {{question}}</p>
		</label>
        <div class="controls">
            <!--move this handlebars control to helper -->
        	{{#if isTextArea}}
            <textarea name="{{questionTitle}}" type="text" value="" placeholder="{{questionHelper}}"/>
            {{else}}
                {{#if isDrop}}
                    <select name="{{questionTitle}}">
                        <option value="">--</option>
                        {{#each arrayify questionDrop}}                            
                            <option value="{{name}}">{{value}}</option>
                        {{/each}}
                    </select>
                
                {{else}}
                    <input name="{{questionTitle}}" type="text" value="" placeholder="{{questionHelper}}"/>
                {{/if}}
            {{/if}}
        </div>
    </div>

</template>

