<template name="interviewer_drop">
    <select name="intName">
    	<option value="">--</option>
        <option value="Bob">Bob</option>
        <option value="Jane">Jane</option>
        <option value="Peter">Peter</option>
        <option value="Paul">Paul</option>
    </select>
</template>

<template name="supervisor_drop">
    <select name="supName">
    	<option value="">--</option>
        <option value="bbob">Billy Bob</option>
        <option value="jjane">Jilly Jane</option>
        <option value="ppeter">Pilly Peter</option>
        <option value="ppaul">Pilly Paul</option>
    </select>
</template>