<template name="entrySubmit">

  <form class="main">
    <div class="control-group">
        <label class="control-label" for="qid">Questionnaire identification number</label>
        <div class="controls">
            <input name="qid" type="text" value="" placeholder="Questionnaire ID"/>
        </div>
    </div>

{{#each questions}}
{{> entryqItem}}

{{/each}}

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>

