<template name="entryqItem">

    <div class="control-group">
        <label class="control-label" for="{{questionNumber}}">
			<p>({{questionNumber}}) {{question}}</p>
		</label>
        <div class="controls">
        	{{#if isTextArea}}
            <textarea name="{{questionNumber}}" type="text" value="" placeholder="{{questionTitle}}"/>
            {{else}}
            <input name="{{questionNumber}}" type="text" value="" placeholder="{{questionTitle}}"/>
            {{/if}}
        </div>
    </div>

</template>