<template name="entryPage">
  {{#with currentEntry}}
    <div class="main">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <td><h2>Question</h2></td>
            <td><h2>Answer</h2></td>
          </tr>
        </thead>

        <tbody>
          {{> entryView}}
        </tbody>
      </table>
        
      <h2>Comments</h2>
      <ul class="comments">
        {{#each comments}}
          {{> comment}}
        {{/each}}
      </ul>

      {{#if currentUser}}
        {{> commentSubmit}}
      {{else}}
        <p>Please log in to leave a comment.</p>
      {{/if}}

    </div>
  {{/with}}
</template>